
<ol class="breadcrumb">
	<li><a ui-sref="services({serviceCatId: serviceCatId})">{{ serviceCatId }}</a> </li>
	<li><a ui-sref="services({serviceCatId: serviceCatId, serviceTypeId: serviceTypeId})">{{ serviceTypeId }}</a> </li>
	<li><a ui-sref="customers({serviceCatId: serviceCatId, serviceTypeId: serviceTypeId, customerNameId: customerNameId})">{{ customerNameId }} </a> </li>
	<li>Circuits</li>
</ol>

<div class="container">
	<div ng-hide="totalItems"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="item in dataWindow"  on-finish-render="drawCircuitMetrics" id="{{item.circuitId}}" class="col-xs-6 col-sm-3" ng-click="drawCircuitMetrics(item.circuitId)">
	</div>
</div>

<div ng-show="totalItems > itemsPerPage" class="text-center">
	<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></ul>
</div>