<h3 class="text-muted">STC WBU</h3>
<br>
<!-- select>
	<option ng-repeat="item in serviceCategories" value="{{item}}">{{item}}</option>
</select-->
<!--
       <div>
         <select id="serviceCatSelector" ng-model="selectedServiceCategory" ng-dropdown required ng-change="selectServiceType(selectedServiceCategory)" >
            <option ng-option value="All" ng-selected="true">All</option>
            <option ng-option value="Voice">Voice</option>
            <option ng-option value="Capacity">Capacity</option>
            <option ng-option value="Data">Data</option>
         </select>
      </div>

      <br>
-->

<!--ul class="nav nav-pills">
  <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
  <li ui-sref-active="active"><a ui-sref="about">About</a></li>
  <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
</ul-->


<!--h3 class="text-muted"> STC WBU</h3-->
