
<ol class="breadcrumb">
	<li><a ui-sref="customers">{{ customerNameId }}</a></li>
	<li><a ui-sref="services({customerNameId: customerNameId, serviceTypeId: serviceTypeId})">{{ serviceTypeId }}</a> </li>
	<li><a ui-sref="circuits({customerNameId: customerNameId, serviceTypeId: serviceTypeId, circuitId: circuitId})">{{ circuitId }} </a> </li>
	<li>Circuit Metrics</li>
</ol>

<div class="container">
	<div ng-show="infoMessage"> {{ infoMessage }} </div>
</div>


<div class="container">
	<div ng-show="gaugesDataStatus.availability" id="availability_gauge" class="col-xs-6 col-sm-3"> </div>
	<div ng-show="gaugesDataStatus.capacity" id="capacity_gauge" class="col-xs-6 col-sm-3"> </div>
	<div ng-show="gaugesDataStatus.totalPacketDrop" id="totalPacketDrop_gauge" class="col-xs-6 col-sm-3"> </div>
	<div ng-show="gaugesDataStatus.totalErrorIn" id="totalErrorIn_gauge" class="col-xs-6 col-sm-3"> </div>
</div>


<div style="text-align:center">
	<IFRAME id="AEL" width="100%" height="100%" ng-src="{{iFrameURL}}" frameborder=2></IFRAME>
</div>