<ol class="breadcrumb">
	<li><a ui-sref="customers">Customers</a></li>
	<li><a ui-sref="services({customerNameId: customerNameId, serviceTypeId: serviceTypeId})">{{ customerNameId }}</a></li>
	<!--li><a ui-sref="services({customerNameId: customerNameId, serviceTypeId: serviceTypeId})">{{ serviceTypeId }}</a> </li-->
	<li><a ui-sref="circuits({customerNameId: customerNameId, serviceTypeId: serviceTypeId, circuitId: circuitId})">{{ serviceTypeId }} </a> </li>
	<li>
		<select id="affectedCktSelector" ng-model="selectedAffectedCkt" ng-dropdown required ng-change="selectAffectedCkt(selectedAffectedCkt)" >
			<option ng-repeat="ckt in affectedCkts" ng-selected="ckt.circuitId == circuitId">{{ckt.circuitId}}</option>
		</select>
	</li>
	<li>Circuit Metrics</li>
	<!--li class="pull-right"><b>Next refresh</b>:{{counter | formatTimer}}</li-->	
	<li class="pull-right"><b>Last refresh</b>:{{refreshDate | date:"h:mm a"}}</li>		
</ol>

<div align="center">
	<font face="Calibri" color="#E8A828" size="5"><b>Customer: </b>{{ customerNameId }} - <b>Circuit: </b>{{ circuitId }}</font>
</div>

<div class="container">
	<div ng-show="infoMessage"> {{ infoMessage }} </div>
</div>


<div class="container">

	<div id="circuitDetails" class="col-xs-6 col-md-2">
		<table class="table table-bordered">
			<tr>
				<th>Port</th>
				<td>{{port}}</td>
			</tr>
			<tr>
				<th>Slot</th>
				<td>{{slot}}</td>
			</tr>
			<tr>
				<th>NI</th>
				<td>{{ni}}</td>
			</tr>			 
		</table>
	</div>

	<div id="availability_gauge" class="col-xs-6 col-md-2"> </div>
	<div id="capacity_gauge" class="col-xs-6 col-md-2"> </div>
	<div id="totalPacketDrop_gauge" class="col-xs-6 col-md-2"> </div>
	<div id="totalErrorIn_gauge" class="col-xs-6 col-md-2"> </div>	
	<div display="inline-block;"  id="tickets_chart" class="col-xs-6 col-md-2"> </div>	
</div>


<div style="text-align:center">
	<div id='headerAEL'><h4>Active Event List (AEL)</h4></div>
	<IFRAME id="AEL" width="100%" height="350" ng-src="{{iFrameURL}}" frameborder=2></IFRAME>
</div>