<ol class="breadcrumb">
	<li><a ui-sref="customers">Customers</a></li>
	<li>{{ customerNameId }}</li>
	<li>Services</li>
</ol>

<div align="center">
	<font face="Calibri" color="#E8A828" size="5"><b>{{ customerNameId }}'s Services</b> with <b>Affected Circuits</b></font>
</div>

<div class="container">
	<div ng-show="infoMessage"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="item in data"  id="{{item.serviceType}}" name="{{item.customerName}}" class="col-xs-6 col-sm-3" ng-click="drawCircuitsCharts(item.customerName, item.serviceType)" on-finish-render="drawServiceCharts">
	</div>
</div>	