
<ol class="breadcrumb">
	<li><a ui-sref="services({serviceCatId: serviceCatId})">{{ serviceCatId }}</a> </li>
	<li><a ui-sref="services({serviceCatId: serviceCatId, serviceTypeId: serviceTypeId})">{{ serviceTypeId }}</a> </li>
	<li><a ui-sref="customers({serviceCatId: serviceCatId, serviceTypeId: serviceTypeId, customerNameId: customerNameId})">{{ customerNameId }} </a> </li>
	<li>Circuits</li>
  	<!--li class="pull-right"><b>Next refresh</b>:{{counter | formatTimer}}</li-->	
	<li class="pull-right"><b>Last Refreshed</b>:{{refreshDate | date:"h:mm a"}}</li>
</ol>

<div align="center">
	<font face="Calibri" color="black" size="5"><b>{{ customerNameId }}'s </b></font>
	<font face="Calibri" color="#a372c0" size="5"><b> {{ serviceTypeId }}</b></font>
</div>
<div align="center">
	<font face="Calibri" color="#E8A828" size="4"><b> Affected Circuits</b></font>
</div>

<div class="container">
	<div ng-hide="totalItems"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="item in dataWindow"  on-finish-render="drawCircuitMetrics" id="{{item.circuitId}}" class="col-xs-6 col-sm-3" ng-click="drawCircuitMetrics(item.circuitId)">
	</div>
</div>


<div align="center">
	<font face="Calibri" color="#59b20a" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Clear</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="red" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Critical</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="orange" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Major</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="yellow" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Minor</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="blue" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Warning</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="grey" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Indeterminate</font>
</div>

<div ng-show="totalItems > itemsPerPage" class="text-center">
	<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" boundary-links="true"></ul>
</div>


