
<ol class="breadcrumb">
	<li><a ui-sref="services({serviceCatId: serviceCatId})">{{ serviceCatId }}</a></li>
	<li><a ui-sref="services({serviceCatId: serviceCatId, serviceTypeId: serviceTypeId})">{{ serviceTypeId }}</a> </li> 
	<li>Customers</li>
  <!--li class="pull-right"><b>Next refresh</b>:{{counter | formatTimer}}</li-->	

    <li class="pull-right"><b>Last Refreshed</b>:{{refreshDate | date:"h:mm a"}}</li>
    <li class="pull-right"><b>Search</b>
          <input type="text" ng-model="search.customerName" class="input-medium search-query" style="padding:0; border:0px; width:150px;">
     </li>
</ol>

<div align="center">
	<font face="Calibri" color="#a372c0" size="5"><b>{{ serviceTypeId }} Customers</b></font>
</div>
<div align="center">
	<font face="Calibri" color="#E8A828" size="4"><b>Affected Circuits</b></font>
</div>


<div class="container">
	<div ng-hide="totalItems"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="item in allData | filter:search:strict" on-finish-render="drawCustomerCharts" id="{{item.customerName}}" class="col-xs-6 col-sm-3" ng-click="drawCircuitCharts(item.customerName, item.serviceType)">
	</div>
</div>

<div align="center">
	<font face="Calibri" color="red" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Affected</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="#59b20a" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Non-affected</font>
</div>
<div ng-show="totalItems > itemsPerPage" class="text-center">
	<ul uib-pagination total-items="allData.length" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" boundary-links="true"></ul>
</div>

