<!--<h2 class="text-muted"> &nbsp; STC WBU Operational Dashboard</h2>-->
   <table id="header" border=0 width='100%' height='70px' bgcolor="#5B3372">
	   	<tr>
	   		<td>
				<table width='100%'>
					<tr>
						<td>
							<table bgcolor="#5B3372">
								<tr>
									<td>&nbsp;&nbsp;&nbsp;<img src="./media/stc-logo-white-transparent.png" alt="STC Logo" height="55" width="122">&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td width="85%" valign="center" align="left"><font face="Calibri" color="White" size="5"><b>STC SQM/SLM</b> - WBU Monitoring Dashboard | Service View&nbsp;&nbsp;<!--a href="#" onclick="window.open('index.html', 'newwindow', config='height=768, width=1366, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, directories=no, status=no');"><img src="./media/popup_fullscreen.png" alt="Full Screen" height="15" width="25"></a--></font></td>
									<td width="1%" align="right"><a href="#" onclick="window.open('index.html', 'newwindow', config='height=768, width=1366, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, directories=no, status=no');"><img src="./media/icon_fullscreen.png" alt="Full Screen" height="50" width="50"></a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

