<ol class="breadcrumb">	
	<li>
		<select id="serviceCatSelector" ng-model="selectedServiceCategory" ng-dropdown required ng-change="selectServiceCat(selectedServiceCategory)" >
			<option ng-option value="All" ng-selected="serviceCatOptions.All">All</option>
			<option ng-option value="Voice" ng-selected="serviceCatOptions.Voice" >Voice</option>
			<option ng-option value="Capacity" ng-selected="serviceCatOptions.Capacity">Capacity</option>
			<option ng-option value="Data" ng-selected="serviceCatOptions.Data">Data</option>
		</select>
	</li>
	<li>Services</li>
	<li class="pull-right"><b>Last Refreshed</b>:{{refreshDate | date:"h:mm a"}}</li>
	<li class="pull-right"><b>Search</b>
		<input type="text"  ng-model="search" class="input-medium search-query" style="padding:0; border:0px; width:150px;">
	</li>	
</ol>

<div align="center">
	<font face="Calibri" color="#E8A828" size="5"><b>Services</b> with <b>Affected Circuits</b></font>
</div>


<div class="container">
	<div ng-show="infoMessage"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="data in filterData = (chartsData | filter : {serviceType: search}) | limitTo:itemsPerPage:itemsPerPage*(page-1)" google-chart="PieChart" ng-model="data" class="col-xs-12 col-sm-4 col-md-3" ng-click="drawCustomerCharts(data.serviceType)" items-type="services">
	</div>
</div>	

<br>
<div align="center">
	<font face="Calibri" color="red" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Affected</font>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<font face="Calibri" color="#59b20a" size="5"><b>&#9632;</b></font>
	<font face="Calibri" color="black" size="4">Non-affected</font>
</div>
