<ol class="breadcrumb">	
<li>
<select id="serviceCatSelector" ng-model="selectedServiceCategory" ng-dropdown required ng-change="selectServiceCat(selectedServiceCategory)" >
	<option ng-option value="All" ng-selected="serviceCatOptions.All">All</option>
	<option ng-option value="Voice" ng-selected="serviceCatOptions.Voice" >Voice</option>
	<option ng-option value="Capacity" ng-selected="serviceCatOptions.Capacity">Capacity</option>
	<option ng-option value="Data" ng-selected="serviceCatOptions.Data">Data</option>
</select>
</li>
<li>Services</li>
</ol>

<div align="center">
	<font face="Calibri" color="#E8A828" size="5"><b>Services</b> with <b>Affected Circuits</b></font>
</div>

<div class="container">
	<div ng-show="infoMessage"> {{ infoMessage }} </div>
</div>

<div class="container">
	<div ng-repeat="item in data"  id="{{item.serviceType}}" name="{{item.serviceCategory}}" class="col-xs-6 col-sm-3" ng-click="drawCustomerCharts(item.serviceType)" on-finish-render="drawServiceCharts">
	</div>
</div>	